*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
}
header{
    width: 100%;
}
  
header::after {
    content: "";
    display: table;
    clear: both;
}
/* --------UTYLITY------- */
.fl{float:left}
.fr{float:right}


.button-navbar{
  padding: 3px 20px;
  background-color: #0061ff;
  text-align: center;
  color:white;
}
.button-jumbo{
    width: 220px;
    padding: 10px 10px;
    background-color: #0061ff;
    text-align: center;
    color:white;
    margin:10px 0;
}

p {
    padding: 10px 0;
    font-weight: bolder;
  }


/* --------NAVBAR-------- */
.navbar {
    height: 60px;
    line-height: 60px;
}
.navbar-img{
  vertical-align: middle;
  margin:0 20px;
  height: 20px;         
}   
.navbar ul li{
    list-style: none;
    font-size: 15px;
    margin:0 20px;
}
.navbar ul,.navbar li{
    display: inline-block;
}
li a {
    text-decoration: none;
    color: #000;
}

/* ---------JUMBOTRON-------- */
.jumbotron{
    width: 100%;
    height: 580px;
    margin-bottom: 100px;
    background-color: #add1ea;
}
.jumbo-container-title{
    width: 1150px;
    margin:0 auto;
}
.jumbo-title{
  
  font-size: 68px;
  font-weight: bolder;
  padding: 40px 0;
}
.raw-jumbo{
    width: 1150px;
    margin:0 auto;
}
.jumbo-text{
    width: 35%;
    padding-right: 20px;   
}
.jumbo-img-container{
    width: 65%;
}
.jumbo-img{
    width: 105%;
}

.raw-jumbo::after{
    display: table;
    content:"";
    clear: both;
}
/* ----------SECTION-------- */
.section-container{
    
    padding: 100px 0;
    width: 900px;
    height: 1000px;
    margin:auto;
    
}
.section-container>h1{
    margin:20px 0;
}
label{
    margin-right: 15px;
}
/* tre colonne */
.section-raw{
    width: 1000px;
    height:500px;
}
.section-raw:after {
    content: "";
    display: table;
    clear: both;
}
.section-col{
    margin-top: 40px;
    float: left;
    width: calc(100% / 3 - 32px);
    height:360px;
    
}
.col-left{
  margin-right:2px;
}
.col-middle{
    margin:40px 45px;
}
.col-right{
    float: right;
}
/* ---------SECTION-DUE---------- */
.section-due-container{
    margin-top:50px;
    width: 900px;
    padding: 100px 0;
    height: 430px;
    margin:auto;
    
}
.section-due-img-container{
    float: left;
    width: 50%;
}
.partner-img{
    width: 100%;
}
.section-due-text-container{
    padding-top:30px;
    padding-left: 30px;
    float: right;
    width: 50%;
}
.section-due-title{
    font-size: 30px;
}
.section-due-text{
    font-weight: lighter;
}
.button-partner{
    padding:4px 15px;
    background-color: honeydew;
}
/* --------SECTION TRE----- */
.section-tre-container{
    padding: 100px 0;
    width: 900px;
    margin-top:50px;
    height: 1100px;
    margin:auto;   
}
.section-tre-img{
    width: 100%;
}
/* -------SECTION-QUATTRO----- */
.section-quattro-container{
    padding: 100px 0;
    width: 900px;
    margin-top:50px;
    margin:auto;   
}
.section-quattro-container>a{
    color: #1370ff;
}
.section-large{
    width: 100%;
    height: 360px;
    background-color: crimson;
    margin-bottom:0px;
}
.square-lateral{
    float: left;
    width: 25%;
    height: 360px;
    background-color: darkblue;
}
.square-middle{
    width: 50%;
    float: left;
    padding: 30px;
    height: 360px;
   
    background-color: #f5f5f5;
}
.box{
    float: left;
    width: 50%;
    height: 50%;
}

/* caselle laterali e immagini */
.A{
  background: url("../img/designit.svg")no-repeat center center;;
  background-color: #94d595;
  background-size: 50% 50%;
  border: 10px solid #caeacb;
}
.B{
    background: url("../img/arizona_state_university.svg")no-repeat center center;
    background-color:#6b002b;
    background-size: 50% 50%;
}
.C{
    background: url("../img/university_of_florida.svg") no-repeat center center;
    background-color:#0096d3;
    background-size: 50% 10%;
}  
.D{
    background: url("../img/topps.svg") no-repeat center center;
    background-color:#ff0000;
    background-size: 50% 50%;
}
.E{
    background: url("../img/world_bicycle_relief.svg") no-repeat center center;
    background-color:#e90006;
    background-size: 50% 50%;
}
.F{
    background: url("../img/hearst_corp.svg") no-repeat center center;
    background-color:#add1ea ;
    background-size: 50% 50%;
}  
.G{
    background: url("../img/lonely_planet.svg") no-repeat center center;
    background-color: #022486;
    background-size: 50% 50%;
}
.H{
    background: url("../img/clear_channel.svg") no-repeat center center;
    background-color: #ffd600;
    background-size: 50% 50%;
}
.middle-img{
  width: 100px;  
}
hr{
    margin:30px 0;
    width:40px;
    background-color: rgba(169, 169, 169, 0.678);
}
.square-middle-text{
    font-size: 15px;
    margin:30px auto;
    font-weight:normal;
    margin-bottom: 20px;
}

/* ----------------CTA----------- */

.jumbo-cta{
    width: 100%;
    background: rgb(149, 192, 255);
    height: 300px;
    padding: 100px 220px;
    
}
  
.cta>h1 {
    color: rgb(69, 4, 82);
}
.cta{
    float: left;
    width: 400px;
}
.cta-button-container{
    text-align: center;
    width: 400px;
    float: left;
    margin-left:100px;
}

.cta-button{
    width: 230px;
    padding:5px 20px;
    background-color: white;
    border-style: none;
}
  
/* ---------DOMANDE------- */

.container-domande{
    margin:0 auto;
    padding: 100px 0;
    width: 900px;
}
.large-hr{
    width: 100%;
    background-color: rgba(238,238,239,255);
    margin:20px 0;
}
.container-domande>p{
    font-weight: bold;
    font-size: 13px;
}