
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

header{
    position:relative;
}
.fl{float: left;}
.fr{float: right;}

/* ---------NAVBAR------- */
.logo-img {
    vertical-align: text-bottom;
    margin: 0 20px;
}

.navbar {
    height: 50px;
    line-height: 50px;
    margin: 10px 0px;
    background-color: aliceblue;
    border:1px solid black;
}

.navbar ul{
    display: inline-block;
    
}
.navbar li {
    display: inline-block;
}  
ul {
    list-style: none;
}
  
li a {
    text-decoration: none;
    color: #000;
    margin: 0 20px;
}
.btn-small{
    background-color: #0061ff;
    color:white;
    text-align:center;
    padding: 2px 20px;
}

