*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
}
header{
    width: 100%;
}
  
header::after {
    content: "";
    display: table;
    clear: both;
}
/* --------UTYLITY------- */
.fl{float:left}
.fr{float:right}


.button-navbar{
  padding: 3px 20px;
  background-color: #0061ff;
  text-align: center;
  color:white;
}
.button-jumbo{
    width: 220px;
    padding: 10px 10px;
    background-color: #0061ff;
    text-align: center;
    color:white;
    margin:10px 0;
}

p {
    padding: 10px 0;
    font-weight: bolder;
  }


/* --------NAVBAR-------- */
.navbar {
    height: 60px;
    line-height: 60px;
}
.navbar-img{
  vertical-align: middle;
  margin:0 20px;
  height: 20px;         
}   
.navbar ul li{
    list-style: none;
    font-size: 15px;
    margin:0 20px;
}
.navbar ul,.navbar li{
    display: inline-block;
}
li a {
    text-decoration: none;
    color: #000;
}

/* ---------JUMBOTRON-------- */
.jumbotron{
    width: 100%;
    height: 580px;
    margin-bottom: 200px;
    background-color: #add1ea;
}
.jumbo-container-title{
    width: 1150px;
    margin:0 auto;
}
.jumbo-title{
  
  font-size: 68px;
  font-weight: bolder;
  padding: 40px 0;
}
.raw-jumbo{
    width: 1150px;
    margin:0 auto;
}
.jumbo-text{
    width: 35%;
    padding-right: 20px;   
}
.jumbo-img-container{
    width: 65%;
}
.jumbo-img{
    width: 105%;
}

.raw-jumbo::after{
    display: table;
    content:"";
    clear: both;
}
/* ----------SECTION-------- */
.section-container{
    margin-top:50px;
    width: 1000px;
    height: 1000px;
    margin:auto;
    border:1px solid black;
}
.section-container>h1{
    margin:20px 0;
}
label{
    margin-right: 15px;
}
/* tre colonne */
.section-raw{
    width: 1000px;
    height:1000px;
}
.section-raw:after {
    content: "";
    display: table;
    clear: both;
}
.section-col{
    margin-top: 40px;
    float: left;
    width: calc(100% / 3 - 32px);
    height:700px;
    background-color:pink;
}
.col-left{
  margin-right:2px;
}
.col-middle{
    margin:40px 45px;
}
.col-right{
    float: right;
}
/* ---------SECTION-DUE---------- */
.section-due-container{
    margin-top:50px;
    width: 1000px;
    height: 430px;
    margin:auto;
    
   
}
.section-due-img-container{
    float: left;
    width: 50%;
}
.partner-img{
    width: 100%;
}
.section-due-text-container{
    padding-top:30px;
    padding-left: 30px;
    float: right;
    width: 50%;
}
.section-due-title{
    font-size: 30px;
}
.section-due-text{
    font-weight: lighter;
}
.button-partner{
    padding:4px 15px;
    background-color: honeydew;
}